@import '../../common/utils/variables';
.home {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 3rem;
    header {
        h1 {
            margin-top: 2rem;
            font-family: $montserrat;
            font-size: 3rem;
            margin-bottom: 1.5rem;
            color: $mustard;
            padding: 0 .8rem;
        }
        img {
            max-width: 150px;
        }
    }
    fieldset {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        align-items: center;
        padding: 0 2rem;
        h2 {
            font-size: 1.3rem;
            text-align: center;
            font-weight: 600;
            line-height: 1.8rem;
            padding: 0 .5rem;
        }
        div {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 100%;
            row-gap: .8rem;
            column-gap: 2rem;
        }
        Button {
            margin-top: 1.6rem;
        }
    }
}

@media screen and (min-width: 768px) {
    .home {
        header {
            h1 {
                margin-top: 4rem;
                margin-bottom: 3rem;
                font-size: 3.5rem;
            }
            img {
                max-width: 200px;
            }
        }
        fieldset {
            row-gap: 3rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    .home {
        header {
            h1 {
                margin-top: 5rem;
                margin-bottom: 4rem;
                font-size: 4rem;
            }
            img {
                max-width: 250px;
            }
        }
        fieldset {
            row-gap: 3.5rem;
        }
    }
}